.header__btn-back {
	font-family: "Formular", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 14px;
	text-transform: uppercase;
	padding: 0;
	min-height: 31px;
	width: 115px;
	border: none;
	background-color: #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}
@media screen and (min-width: 1440px) {
	.header__btn-back {
		width: 1410px;
		grid-row-start: 3;
		grid-column-start: 1;
		grid-column-end: -1;
		align-self: start;
		padding-left: 30px;
		padding-top: 33px;
		border-top: 1px solid black;
	}
}
@media screen and (max-width: 1439px) {
	.header__btn-back {
		grid-column-start: 4;
	}
}
