.header__menu-item{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-family: 'Neue Machina', Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 1.14;
   letter-spacing: -0.01em;
   padding-bottom: 25px;
   min-width: 38px;
}
.header__menu-item:last-child{
    padding-bottom: 0px;
}
.header__menu-item:hover
        .ellipse{
            display: block;
        }
@media screen and (min-width: 1440px) {
    .header__menu-item{
        font-size: 16px;
        line-height: 1.14;
        padding-bottom: 0;
        padding-right: 34px;
    }
    
}
@media screen and (max-width: 1439px) {
    .header__menu-item{
        justify-content: flex-start;
    }
}
