.play__author {
  text-align: left;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin: 0 0 6px 0;
}

@media (max-width: 560px) {
  .play__author {
    display: none;
  }
}
