.details {
  max-width: 414px;
  background-color: #fff;
  display: grid;
  grid-template-areas:
    ". time age ."
    ". persons persons .";
  grid-template-columns: 24px 181px auto 24px;
  row-gap: 20px;
  padding: 58px 0 72px 0;
  justify-items: start;
  margin: 0 auto;
}
