.reviews {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr) repeat(2, .5fr) 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas:
    '. title pagin btns .'
    'wraper wraper wraper wraper wraper';
  margin-top: 174px;
}

@media screen and (max-width: 620px) {
  .reviews {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px max-content;
    grid-template-areas: 
      'title btns'
      'pagin .'
      'wraper wraper';
  }
}