.footer__info-design{
    text-decoration: none;
    margin-bottom: 16px;
    padding-left: 37px;
    width: 169px;
}

.footer__info-design:nth-child(2){
    margin-bottom: 0;
    padding-left: 0;
    width: 254px;
}

@media screen and (min-width: 1150px)  {
    .footer__info-design {
        margin-bottom: 0;
    }
  }