.play__secondparagraph {
  display: none;
}

@media (max-width: 560px) {
  .play__secondparagraph {
    display: flex;
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin: 15px 46px 118px 16px;
    text-align: left;
  }
}
