.footer__info-designs{
    width: 255px;
    margin: 0;
    margin-left: 27px;
    padding: 0;
    text-align: start;
    list-style: none;
    background-image: url(../../../image/footer-xpeHb.svg);
    background-repeat: no-repeat;
}

@media screen and (min-width: 1150px) {
    .footer__info-designs {
        display: flex;
        width: 389px;
        margin-top: 30px;
        margin-right: 100px;
    }
  }