.video {
  display: grid;
  grid-template-areas:
    ". video ."
    ". text .";
  grid-template-rows: 1fr auto;
  gap: 32px;
}

@media screen and (max-width: 827px) {
.video {
grid-template-columns: 1fr auto 1fr;
}
}