.video {
position: relative;
z-index: 1;
background-image: url(../../image/preview.jpg);
background-repeat: no-repeat;
max-width: 366px;
max-height: 206px;
width: 100%;
height: 100%;
object-fit: cover;
margin: 24px auto 32px auto; 
}