.video {
grid-area: video;
  display: flex;
flex-direction: column;
  row-gap: 32px;
  max-width: 691px;
margin: 0 24px;
justify-self: center;
}

@media screen and (min-width: 828px) {
.video {
margin: 0 30px 0 0;
row-gap: 66px;
}
}