.header {
	margin: 0 auto;
	min-height: 72px;
	grid-area: header;
	width: 100%;
	max-width: 1440px;
	display: grid;
	justify-items: end;
	align-items: center;
	padding-bottom: 10px;
}
@media screen and (min-width: 1440px) {
	.header {
		display: grid;
		grid-template-rows: 11px 50px 31px;
		grid-template-columns: 30px 86px 34px 1fr;
		justify-items: start;
	}
}
@media screen and (max-width: 1439px) {
	.header {
		grid-template-columns: 24px 43px 19px 115px 1fr;
	}
}
