.play__newpage {
  background: transparent;
  width: 100%;
  border: none;
  text-align: left;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
