.paragraphs__text {
  text-align: left;
}

.paragraphs__text:not(:first-child) {
  text-indent: 59px;
  margin-top: 16px;
}

.paragraphs__text:nth-child(3) {
  margin-top: 29px;
}

@media screen and (max-width: 414px) {
.paragraphs__text {
max-width: 365px;
}
}

@media screen and  (min-width: 1200px) {
.paragraphs__text {
padding-right: 85px;
}
}