.footer__place{
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #242424;
    margin: 0;
    padding: 0;
    text-align: start;
}