.comments {
  box-sizing: border-box;
  display: grid;
  margin: auto;
  overflow: hidden;
  grid-template-columns: 300px 1fr repeat(2, .5fr) 302px;
  grid-template-rows: 100px max-content;
  grid-template-areas:
    '. title pagin btns .'
    'wraper wraper wraper wraper wraper';
  margin: 116px 60px;

}

@media screen and (max-width:1200px) {
  .comments {
    grid-template-columns: repeat(2, 1fr) repeat(2, .5fr) 1fr;
    grid-template-rows: 100px max-content;
    grid-template-areas:
      '. title pagin btns .'
      'wraper wraper wraper wraper wraper';
    margin: 0;
    margin-top: 76px;
  }
}

@media screen and (max-width:620px) {
  .comments {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px max-content;
    grid-template-areas:
      'title btns'
      'pagin .'
      'wraper wraper';
  }
}

.comments__text-info {
  margin: 0;
  max-width: 541px;
  font-family: 'Formular';
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01'on;
}
  




.comments__slide {
  box-sizing: border-box;
  transition: opacity .3s, transform .3s ease-in-out;
  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: 33px 30px 24px 30px;
  max-width: 420px;
  height: 361px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

@media screen and (max-width: 620px) {
  .comments__slide {
    height: 478px;
    padding: 72px 28px 100px 28px;
  }
}

.comments__wrapper {
  width: calc(100% - 120px);
  grid-area: wraper;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 1200px) {
  .comments__wrapper {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 620px) {
  .comments__wrapper {
    width: 100%;
    margin-top: -50px;
    gap: 0;
  }
}