.video__preview {
  grid-area: video;
  background-image: url("../../../image/preview.jpg");
background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid;
  grid-template-areas:
    "..."
    "play"
    "...";
  grid-template-rows: auto 64px auto;
  justify-items: center;
}
