.reviews__text-info {
  box-sizing: border-box;
  margin: 0;
  margin: 47px 0 32px 0;
  max-width: 541px;
  font-family: 'Formular';
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01'on;
}

@media screen and (max-width: 620px) {
  .reviews__text-info {
    margin-top: 35px;
  }
}