.header__btn-img {
	padding-right: 20px;
}
@media screen and (max-width: 1439px) {
	.header__btn-img {
		margin-right: 0px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 1440px) {
	.header__btn-img {
		padding-left: 10px;
	}
}
