.footer{
    margin: 0;
    padding: 0;
    /* padding-top: 56px; */
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #242424;
    text-align: start;
}

@media screen and (min-width: 1150px) {
    .footer {
        display: grid;
        grid-template-columns: 10% repeat(5, 1fr);
        grid-template-rows: 5% 15% 40% 15% 10%;
        gap: 18px;
        /* padding-top: 42px; */
    }
  }