.play__paragraph {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin: 24px 31px 140px 24px;
  text-align: left;
}

@media (max-width: 560px) {
  .play__paragraph {
    display: none;
  }
}
