.tell__text {
  color: #242424;
  margin: 0;
  padding-right: 8px;
  font-family: "Formular", 'Arial', sans-serif;;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
}


